@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700, 800);
body {
    margin: 0;
    width: 80%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
b{
    font-weight: 800;
}
header {
    text-align: center;
    padding-top: 30px;
    background: white;
    padding-top: 40px;

}
.ava{
    width: 50px;
    height: 50px;
    float: left;
     padding-top: 40px;
    padding-left: 12px;
}
.ava1{
    width: 50px;
    height: 50px;
    float: left;
    position: relative;
    padding-left: 12px;
    margin-top: -15px;
}
.m-img{
    width: 70%;
    height: 70%;

}
.text-ava{

    position: relative;
    left: 35px;
    float: left;
}
.text-p{
    position: relative;
    left: 193px;
}
.text-ava1{
    position: relative;
    left: 35px;
    float: left;
    margin-top: 0px;
}
.text-p1{
    position: relative;
    left: 193px;
}
.profile2{
    margin-top: 50px;
}
.prof{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}
header a {
    text-decoration: none;
}
.logo {
    color: #000;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
}
.logo2 {
    color: #000;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 450;
    font-size: 1.5em;
}
.p {
    color: #FFD991;
    font-family: cursive;
    font-size: 1.5em;
}
.pr1 {
    margin-top: 30px;
    width: 200px;
    padding: 5px;
    border: solid 1px black;
    text-align: center;
    height: 140px;
    grid-gap: 1em;
    border-radius: 10px;
}
a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
div {
    transition-duration: .2s;
}
.pr1:hover {
    width: 196px;
    height: 136px;
}
.pr1:hover {
    border: solid 3px black;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: #000;
}
