@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);
* { box-sizing: border-box; }
body {
  margin: 0;
  width: 80%;
  margin: 0 auto;
}
header {
<<<<<<< HEAD
  text-align: center;
  display: block;
  padding-top: 30px;
=======
  background: white;
  text-align: left;
    display: flex;
    padding-top: 40px;
>>>>>>> origin/master
}
header a {
  text-decoration: none;
  display: block;
  transition: .3s ease-in-out;
}
.logo {
  color: #000;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  }
.logo2 {
  color: #000;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 450;
  font-size: 1.5em;
  }

.p{
  color: #FFD991;
  font-family: cursive;
  font-size: 1.5em;
 }
.pr1 {
    margin-top:30px;
    width: 200px;
    padding: 5px;
    border: solid 1px black;
    float: left;
	margin-left:150px;
	text-align:center;
   }

a{text-decoration: none
    font-family:'Roboto',sans-serif;
}
div:hover {
    border:solid 3px black;
    text-decoration:none;
}
